body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 350px;
}

.btn {
  border: 1px solid rgb(10, 92, 158);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "New Tegomin", serif;
  font-weight: bolder;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,
.btn2 {
  color: rgb(10, 92, 158);
}

.btn3,
.btn4 {
  color: #fff;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
}

.btn3:hover,
.btn4:hover {
  color: rgb(10, 92, 158);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(10, 92, 158);
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before,
.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn3::before,
.btn4::before {
  height: 180%;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}

.btn3:hover::before,
.btn4:hover::before {
  height: 0%;
}

.middle {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.button {
  background: grey;
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #000000;
  color: #020e16;
  overflow: hidden;
  position: relative;
}

.button i {
  line-height: 90px;
  font-size: 30px;
  transition: 0.2s linear;
}

.button:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.button::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #c24e0a;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.button:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
